# Graded Assignment 4
## SQL and Exploratory Data Analysis

The following learn-by-building exercise will guide you through the process of building out a simple analysis along with some accompanying charts. This module is considerably more difficult than similar exercise blocks in the past, but it sure is a lot more rewarding!

Let's try by first constructing a DataFrame using the `read_sql_query()` method that we've grown familiar to. We want to develop a simple sales visualization report of our top 5 key markets (`Country` column in `customers`) ranked by Sales (`Total` column in `invoices`). 

We also want to identify our top 5 customers by name (`FirstName`, `LastName`) in the report.

Last but not least, we want the report to include a day-of-week analysis on sales performance, and for that we will need the `InvoiceDate` column. 

> **Hint 1**: `pandas` has built-in methods of extracting the name of day in a week. We've seen this in Part 2 of this specialization (**Working with Datetime chapter**). An example usage is:
>
> `x['InvoiceDOW'] = x['InvoiceDate'].dt.weekday_name`
>
>  **Hint 2**: In `read_sql_query`, you can use the `parse_dates='InvoiceDate'` argument to have the specified column parsed as date, saving you from a `to_datetime()` conversion

In [195]:
## Your code below


## -- Solution code

1. Which of the following customers are among the top 5 customers ranked by their respective total (`Total`)? Choose all that apply.
    - [ ] Victor Stevens
    - [ ] Hugh O'Reilly
    - [ ] Puja Srivastava
    - [ ] Ellie Sullivan


2. Which of the following countries are among the top 5 grossing ranked by their respective total (`Total`)? Choose all that apply.
    - [ ] United Kingdom
    - [ ] Germany
    - [ ] Portugal
    - [ ] India
    
    
3. How many sales transactions (or records, or rows) were from the top 5 countries?
    - [ ] 412
    - [ ] 245
    - [ ] 1225
    - [ ] 1000

Use the code block below as reference to create a DataFrame containing records where the customers are from one of the top 5 countries. The number of rows in this new DataFrame should be equal to your answer in question (3). Notice that we have additionally converted our day-of-week column into a `Categorical` column:

```
top5 = x.groupby('Country').Total.sum().\
sort_values(ascending=False).head().index.to_list()

invo_topcountry = invo[invo['Country'].isin(top5)].copy()

# Represents a categorical variable in classic R fashion (pandas documentation) and have it ordered
invo_topcountry['InvoiceDOW'] = pd.Categorical(invo_topcountry.InvoiceDOW, categories=['Monday', 'Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'], ordered=True)

invo_topcountry.shape # same as answer for question (3)
```

4. Using the `pd.pivot_table()` method, answer the next two questions: How much sales did we make in total (`Total`) from the France market on a Tuesday? How much sales did we make in total (`Total`) from all the top 5 markets combined on a Friday?
    - [ ] 160.41 / 173.31  
    - [ ] 160.41 / 1368.70
    - [ ] 1.98 / 173.31
    - [ ] 1.98 / 1368.70


5. Give the `pivot_table` that you created a name. Remove the margins if they were included in the earlier step. Create a visualization by chaining the `.plot()` method on the pivot table. Set the `kind` parameter to be one of: `line`, `bar`, `scatter` & `box`. Which are the **LEAST** appropriate plot type(s)?
    - [ ] `line`
    - [ ] `bar`
    - [ ] `scatter`
    - [ ] `box`